<div class="thank-you-page">
  <h1 class="thank-you content">About Us</h1>
  <div class="columns">
    <div class="column">
      <figure class="image">
        <img src="https://source.unsplash.com/3fWE0Dp_aj8" alt="About WSC">
      </figure>
    </div>
    <div class="column">
      <p class="content">
        WSC has been in the printing and Engraving business for over 25 years. There is no project too small or too
        large for WSC. We have covered huge rally's too small little league teams with our Printing and Engraving
        services. We offer quality Printing and Engraving at competitive pricing and even offer payment on delivery
        options. WSC has an A+ accreditation from the Better Business Bureau and we strive to do our best on every
        order.
      </p>
    </div>
  </div>
</div>

