<div class="thank-you-page">
  <h1 class="thank-you has-text-centered content">Thank You!</h1>
  <h4 class="content is-size-5 has-text-centered">We will be in touch shorty</h4>
  <div class="buttons is-centered">
    <% if user_signed_in? %>
    <%= link_to 'View My Account', accounts_path, class: 'button is-medium is-primary' %>
    <% end %>
  </div>
</div>

