.company-logo {
  font-size: 28px;
  font-family: 'Anton', sans-serif;
}

.login-page {
  padding: 40px 0;
  width: 100%;

  @include break(sm) {
    display: flex;
    justify-content: center;
    padding: 120px 0;

    .box {
      width: 400px;
    }
  }
}

.thank-you-page {
  padding: 50px 0 100px;

  @include break(sm) {
    padding: 100px 0 200px;
  }
}

.thank-you {
  font-family: 'Anton', sans-serif;
  font-size: 50px;

  @include break(sm) {
    font-size: 100px;
  }
}

.image-rounded {
  border-radius: 6px;
  overflow: hidden;
}

.user-info {
  width: 100%;
  tr {
    td:first-child {
      text-align: right;
      padding-right: 5px;
    }
    td:last-child {
      padding-left: 5px;
    }
  }
}

.ReactModal__Overlay {
  background-color: rgba(black, 0.5) !important;
  z-index: 999;
}

.order-receipt {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  p {
    margin: 0 !important;
    text-align: right;
    padding: 3px 0;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    line-height: 1.2;
    @include break(sm) {
      height: 34px;
    }
  }
  p:nth-of-type(odd) {
    width: 50%;
    @include break(sm) {
      flex: 0 0 75%;
      max-width: 75%;
    }
  }
  p:nth-of-type(even) {
    width: 50%;
    @include break(sm) {
      flex: 0 0 25%;
      max-width: 25%;
    }
  }
  @include break(sm) {
    width: 380px;
  }
}

.order-border-top {
  border-top: 2px solid gray;
}

.invoice-modal {
  @include break (lg) {
    width: auto;
  }
}

@include break(lg) {
  .invoice-note { display: none; }
}

@media print {
  .invoice-note { display: none; }
}

.section {
  min-height: 80vh;
}