<% content_for :content do %>

  <%= render 'layouts/header' %>

  <section class="section">
    <div class="container">
      <%= yield %>
    </div>
  </section>

  <%= render 'layouts/footer' %>

<% end %>
<%= render template: 'layouts/application' %>