<div class="tabs is-boxed">
  <ul>
    <li>
      <%= link_to accounts_path do %>
        <span class="icon is-small"><i class="far fa-shopping-basket"></i></span>
        <span>Orders</span>
      <% end %>
    </li>
    <li class="is-active">
      <%= link_to account_path(@user.account.id) do %>
        <span class="icon is-small"><i class="far fa-cogs"></i></span>
        <span>Settings</span>
      <% end %>
    </li>
  </ul>
</div>

<div>
  <h2 class="title is-size-4">Edit Your Information</h2>

  <h4 class="is-size-6">
    <span class="tag"><%= @user.email %></span>
  </h4>

  <br/>

  <%= render 'form' %>

</div>
